@import "../../../../constants";
@import "../../../../theme";

.container {
  $height: calc(100vh - 7rem);

  padding: 0;
  position: relative;
  width: 100vw;
  height: $height;
  overflow: hidden;

  .background {
    width: 100%;
    height: 100%;
    z-index: -100;

    img {
      width: 100%;
      height: 100%;
      user-select: none;

      object-fit: cover;
      filter: brightness(20%);
    }
  }

  main {
    $tb-padding: 4rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    padding: $tb-padding $lr-padding;
    width: 100%;
    height: 100%;

    .info {
      display: grid;
      grid-template-columns: minmax(22rem, 46vh) auto 30rem;
      grid-template-rows: minmax(33rem, 100%) auto;
      grid-column-gap: 5rem;

      & > div {
        max-height: calc(#{$height} - #{$tb-padding});
        overflow-y: auto;
      }

      .thumbnail {
        min-width: 22rem;
        width: 46vh;
        min-height: 33rem;
        height: 70vh;
        overflow: hidden;

        img {
          border-radius: 1rem;
          width: 100%;
          height: 100%;
        }
      }

      .about {
        .tags {
          margin-bottom: 2rem;
          display: flex;

          .tag {
            margin-right: 1rem;
          }
        }

        .name {
          font-weight: 600;
          font-size: 3rem;
          margin-bottom: 1rem;
        }

        .desc {
          font-size: 1.2rem;
        }

        .achievements {
          display: flex;
          align-items: center;
          justify-content: space-between;

          margin-top: 1rem;
          background: $hover-background;
          border-radius: 0.5rem;
          backdrop-filter: $backdrop;
          padding: 1rem 2rem;

          .stats {
            display: flex;
            align-items: center;

            .stat {
              display: flex;
              align-items: center;
              margin-right: 2rem;

              i {
                font-size: 1.1rem;
                margin-right: 0.5rem;
              }

              .quantity {
                font-size: 0.9rem;
                font-weight: 600;
              }
            }
          }
        }

        .actions {
          margin: 2rem 0;

          display: flex;
          align-items: center;

          .spacer {
            width: 1rem;
          }

          .action {
            display: flex;
            align-items: center;

            i {
              font-size: 1.3rem;
              margin-right: 0.5rem;
            }

            .name {
              font-size: 1rem;
              margin: 0;
            }
          }
        }
      }

      .sidebar {
        .heading {
          font-weight: 600;
          font-size: 2rem;
          margin-bottom: 1rem;
        }

        .seasons {
          .season {
            padding: 1rem 2rem;
            border-radius: 1rem;
            cursor: pointer;
            display: flex;
            align-items: center;

            &:hover {
              background: $hover-background;
            }

            i {
              font-size: 2rem;
              margin-right: 1.5rem;
            }

            .info {
              all: unset;

              .name {
                margin-bottom: 0.1rem;
                font-weight: 600;
                font-size: 1.1rem;
              }

              .n-episodes {
                font-weight: 500;
                font-size: 0.9rem;
                color: $color-disabled;
              }
            }
          }
        }
      }
    }
  }
}
