<div class="container">
  <ng-container *ngIf="series">
    <div class="background">
      <img [src]="currentBackgroundImage" alt="" />
    </div>
    <main>
      <div class="info">
        <img [src]="series.thumbnail" alt="" />
        <div class="about">
          <div class="name">{{ series.name }}</div>
          <div class="desc">{{ series.description }}</div>
          <div class="stats">
            <div class="stat">
              <i class="las la-eye"></i>
              <div class="quantity">{{ series.views.length | quantity }}</div>
            </div>
            <div class="stat">
              <i class="las la-gem"></i>
              <div class="quantity">{{ series.diamonds.length }}</div>
            </div>
            <div class="stat">
              <i class="las la-hand-paper"></i>
              <div class="quantity">{{ series.fans.length }}</div>
            </div>
          </div>
          <div class="actions">
            <UIButton [isPrimary]="true">
              <div class="action">
                <i class="las la-play"></i>
                <div class="name">Play</div>
              </div>
            </UIButton>
            <div class="spacer"></div>
            <UIButton>
              <div class="action">
                <i class="las la-film"></i>
                <div class="name">Add to Library</div>
              </div>
            </UIButton>
          </div>
        </div>
        <div class="seasons">
          <div class="heading">Seasons</div>
          <div
            class="season"
            *ngFor="let season of series.seasons"
            [routerLink]="season.id"
          >
            <i class="las la-pizza-slice"></i>
            <div class="info">
              <div class="name">{{ season.name }}</div>
              <div class="n-episodes">{{ season.nEpisodes }} episodes</div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </ng-container>
</div>
