@import "../../../../constants";

.container {
  padding: 0;
  position: relative;
  width: 100vw;
  height: calc(100vh - 7rem);
  overflow-y: auto;

  .background {
    width: 100%;
    height: 100%;
    z-index: -100;

    img {
      width: 100%;
      height: 100%;
      user-select: none;

      object-fit: cover;
      filter: blur(8px) brightness(20%);
    }
  }

  main {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 0 $lr-padding;
    width: 100%;
    height: 100%;
  }
}
