@import "../../../../constants";
@import "../../../../theme";

.container {
  padding: 0;
  position: relative;
  width: 100vw;
  height: calc(100vh - 7rem);

  .background {
    width: 100%;
    height: 100%;
    z-index: -100;

    img {
      width: 100%;
      height: 100%;
      user-select: none;

      object-fit: cover;
      filter: blur(8px) brightness(20%);
    }
  }

  main {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 4rem $lr-padding;
    width: 100%;
    height: 100%;
    overflow-y: auto;

    .info {
      display: grid;
      grid-template-columns: 22rem auto 30rem;
      grid-template-rows: 33rem auto;
      grid-column-gap: 5rem;

      img {
        border-radius: 1rem;
        width: 100%;
        height: 100%;
      }

      .about {
        .name {
          font-weight: 600;
          font-size: 2rem;
          margin-bottom: 1rem;
        }

        .stats {
          display: flex;
          align-items: center;

          margin-top: 2rem;

          .stat {
            display: flex;
            align-items: center;
            margin-right: 3rem;

            i {
              font-size: 1.5rem;
              margin-right: 1rem;
            }

            .quantity {
              font-size: 1.3rem;
            }
          }
        }

        .actions {
          margin-top: 2rem;

          display: flex;
          align-items: center;

          .spacer {
            width: 1rem;
          }

          .action {
            display: flex;
            align-items: center;

            i {
              font-size: 1.3rem;
              margin-right: 0.5rem;
            }

            .name {
              font-size: 1rem;
              margin: 0;
            }
          }
        }
      }

      .sidebar {
        .heading {
          font-weight: 600;
          font-size: 2rem;
          margin-bottom: 1rem;
        }

        .seasons {
          overflow-y: auto;
          max-height: 100%;

          .season {
            padding: 1rem 2rem;
            border-radius: 1rem;
            cursor: pointer;
            display: flex;
            align-items: center;

            &:hover {
              background: $hover-background;
            }

            i {
              font-size: 2rem;
              margin-right: 1.5rem;
            }

            .info {
              all: unset;

              .name {
                margin-bottom: 0.1rem;
                font-weight: 600;
                font-size: 1.1rem;
              }

              .n-episodes {
                font-weight: 500;
                font-size: 0.9rem;
                color: $color-disabled;
              }
            }
          }
        }
      }
    }
  }
}
