<div class="container">
  <div class="chips">
    <ng-container *ngIf="topics">
      <UIChip
        class="chip"
        [isActive]="activeTopics.includes(topic)"
        *ngFor="let topic of topics"
        (click)="toggleTopic(topic)"
      >
        {{ topic }}
      </UIChip>
    </ng-container>
  </div>
  <banner></banner>
  <section>
    <div class="header">
      <div class="heading">Hand picked for you</div>
      <img
        src="../../../assets/loading.gif"
        *ngIf="!toolsService.isObjectEmpty(seriesService.series | async)"
      />
    </div>
    <div class="cards">
      <ng-container
        *ngFor="let card of seriesService.series | async | keyvalue"
      >
        <UISeriesCard
          [card]="card.value"
          *ngIf="
            toolsService.arraysOverlap(card.value['topics'], activeTopics)
              .length
          "
        ></UISeriesCard>
      </ng-container>
    </div>
  </section>
</div>
