@import "../../../classes";

.container {
  .chips {
    @include hidden-scroll;

    white-space: nowrap;

    .chip {
      margin: 0 0.5rem;
    }
  }

  .cards {
    @include hidden-scroll();

    display: flex;
    margin-top: 2rem;

    .card {
      margin: 0 0.5rem;
      position: relative;
      border-radius: 1rem;
      /// 2:3 Ratio
      min-height: 60vh;
      max-height: 37.5rem;
      min-width: 40vh;
      max-width: 25rem;
      cursor: pointer;

      &:hover {
        .info {
          opacity: 1;
          pointer-events: all;
          z-index: 100;
        }

        img {
          filter: brightness(45%) saturate(40%);
          z-index: 99;
        }
      }

      .info {
        border-radius: inherit;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        pointer-events: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;

        .name {
          font-weight: 600;
          font-size: 2rem;
        }

        main {
          .tags {
            @include hidden-scroll();

            .tag {
              margin-right: 1rem;
              display: inline-block;
            }
          }

          .stats {
            display: flex;
            align-items: center;
            margin-top: 1rem;

            .stat {
              display: flex;
              align-items: center;
              margin: 0 1rem;

              i {
                margin-right: 0.5rem;
                font-size: 1.1rem;
              }

              .quantity {
                font-weight: 600;
              }
            }
          }
        }
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: inherit;
      }
    }
  }
}
