@import "../../../classes";

.container {
  .chips {
    @include hidden-scroll;

    white-space: nowrap;

    .chip {
      margin: 0 0.5rem;
    }
  }

  .cards {
    @include hidden-scroll();

    display: flex;
    margin-top: 2rem;
  }
}
