@import "../../../classes";
@import "../../../constants";

.container {
  .chips {
    @include hidden-scroll();
    padding: 0 $lr-padding;

    white-space: nowrap;

    .chip {
      margin: 0 0.5rem;
    }
  }

  section {
    margin: 3.5rem 0;

    .heading {
      padding: 0 $lr-padding;
    }

    .cards {
      @include hidden-scroll();
      padding: 0 $lr-padding;

      display: flex;
      margin-top: 2rem;
    }
  }
}
