.container {
  display: grid;
  grid-template-columns: minmax(23rem, 20vw) auto;
  grid-gap: 3rem;

  .info {
    .title {
      font-size: 2rem;
      font-weight: 600;
    }

    ol {
      li {
        font-size: 1.1rem;
      }
    }
  }
}
