<ng-container *ngIf="card">
  <div class="card" [routerLink]="'/series/' + card.id">
    <div class="info">
      <div class="name">{{ card.name }}</div>
      <main>
        <div class="tags">
          <div class="tag" *ngFor="let tag of card.topics">
            <UIChip [isActive]="true"> {{ tag }} </UIChip>
          </div>
        </div>
        <div class="stats">
          <div class="stat">
            <i class="las la-hand-paper"></i>
            <div class="quantity">
              {{ card.fans.length | quantity }}
            </div>
          </div>
          <div class="stat">
            <i class="las la-gem"></i>
            <div class="quantity">
              {{ toolsService.sumValuesOfObject(card.gems) | quantity }}
            </div>
          </div>
        </div>
      </main>
    </div>
    <div
      class="background"
      [ngStyle]="{
        'background-image': 'url(' + card.thumbnail + ')'
      }"
    ></div>
  </div>
</ng-container>
