<div class="container" [ngClass]="{ hidden: navbarService.isHidden | async }">
  <div class="logo" routerLink="/">
    <img src="../../../assets/logo.png" alt="" />
  </div>
  <div class="search">
    <i class="las la-search"></i>
    <input
      type="text"
      readonly
      (focus)="searchService.isActive.next(true)"
      (blur)="searchService.isActive.next(false)"
      placeholder="Search your anime"
      #search
    />
  </div>

  <div class="routes">
    <div class="route" [routerLink]="route.path" *ngFor="let route of routes">
      <i [class]="'las la-' + route.icon"></i>
      <div class="name">{{ route.name }}</div>
    </div>
    <div class="route outlined" *ngIf="!user" (click)="authService.signIn()">
      <i class="las la-sign-in-alt"></i>
      <div class="name">Login</div>
    </div>
    <div class="user" *ngIf="user" routerLink="/me">
      <div class="profile">
        <img [src]="user.profileImg" alt="" />
      </div>
    </div>
  </div>
</div>
