<div class="container">
  <div class="logo" routerLink="/">
    <img src="../../../assets/logo.png" alt="" />
  </div>

  <div class="search">
    <i class="las la-search"></i>
    <input type="text" placeholder="Search your anime" #search />
  </div>

  <div class="routes">
    <div
      class="route"
      [ngClass]="{ outlined: route.isOutlined }"
      [routerLink]="route.path"
      (click)="route.action ? route.action() : route.action"
      *ngFor="let route of routes"
    >
      <i [class]="'las la-' + route.icon"></i>
      <div class="name">{{ route.name }}</div>
    </div>
  </div>
</div>
