<div class="container">
  <ng-container *ngIf="user">
    <div class="profile">
      <div class="cover">
        <img [src]="user.coverImg" alt="" />
      </div>
      <div class="img">
        <div class="wrapper">
          <img [src]="user.profileImg" alt="" />
        </div>
      </div>
      <div class="routes">
        <div class="wrapper">
          <div class="route" routerLink="/me">
            <i class="las la-stream"></i>
            <div class="name">Timeline</div>
          </div>
          <div class="route" routerLink="/me/library">
            <i class="las la-layer-group"></i>
            <div class="name">Library</div>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="sidebar">
        <div class="name">{{ user.name }}</div>
        <div class="heading">Stats</div>
        <div class="stats">
          <div class="stat">
            <i class="las la-gem"></i>
            <div class="name">{{ user.diamonds }}</div>
          </div>
        </div>
      </div>
      <main [@routeAnimation]="animationService.prepareRoute(outlet)">
        <router-outlet #outlet="outlet"></router-outlet>
      </main>
    </div>
  </ng-container>
</div>
