@import "../../../../classes";
@import "../../../../constants";

.libraries {
  margin-top: 1.5rem;

  .library {
    margin-bottom: 4rem;

    .cards {
      @include hidden-scroll();
      display: flex;
      width: $user-profile-content-width;
    }
  }
}

.quote {
  padding: 3rem;
  text-align: center;

  .text {
    font-size: 1.4rem;
  }

  .by {
  }
}
