@import "../../../theme";
@import "../../../constants";

.container {
  $height: 100vh;
  width: 100vw;
  height: $height;
  padding: 0;
  position: relative;
  overflow: hidden;

  .sidebar {
    $width: 25vw;
    backdrop-filter: $backdrop brightness(30%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1e4;
    height: 100%;
    width: $width;
    min-width: 25rem;
    background: $hover-background;

    &.hide {
      left: -$width;
    }

    .header {
      display: flex;
      justify-content: space-between;
      padding: 1rem $lr-padding;
      background: $background;

      .btn {
        display: flex;
        align-items: center;

        border-radius: 0.5rem;

        i {
          font-size: 1.3rem;
        }

        .name {
          margin-left: 0.5rem;
        }
      }
    }

    .season {
      .name {
        padding: 1rem $lr-padding;
        font-size: 2rem;
        font-weight: 600;
      }

      .episodes {
        overflow-y: auto;
        max-height: calc(#{$height} - 9.5rem);

        .episode {
          padding: 1rem $lr-padding;
          cursor: pointer;

          &:hover,
          &.active {
            backdrop-filter: $backdrop;
            background: $hover-background;
          }
        }
      }
    }
  }

  main {
    width: 100%;
    height: 100%;

    .player-overlay {
      display: flex;
      flex-direction: column;

      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1e3;

      @mixin panels() {
        pointer-events: none;
        background: $background;
        display: none;
        opacity: 0;

        &.show {
          display: flex;
          opacity: 1;
          pointer-events: all;
        }
      }

      .top {
        @include panels();
        padding: 1rem;

        display: flex;
        align-items: center;

        .info {
          display: flex;
          align-items: center;
          justify-content: space-between;

          width: 100%;
          margin-left: 1.5rem;

          .name {
            font-size: 1.2rem;
            font-weight: 500;
          }

          .actions {
            display: flex;
            align-items: center;

            .action {
              display: flex;
              justify-content: center;
              align-items: center;

              padding: 0.5rem;
              border-radius: 10rem;
              border: 3px solid $hover-background;
              cursor: pointer;

              &:hover {
                background: $hover-background;
              }

              i {
                font-size: 1.1rem;
              }
            }
          }
        }
      }

      .spacer {
        height: 100%;
      }

      .bottom {
        .actions {
          @include panels();
        }

        .comments {
          @include panels();
          min-height: 10rem;
        }
      }
    }
  }
}
