<div class="container">
  <ng-container *ngIf="season">
    <div class="sidebar" [ngClass]="{ hide: isSidebarHidden }">
      <div class="header">
        <UIButton
          [isPointed]="true"
          (click)="isSidebarHidden = !isSidebarHidden"
        >
          <div class="btn">
            <i class="las la-angle-left"></i>
            <div class="name">Hide</div>
          </div>
        </UIButton>
        <UIButton [isPointed]="true" (click)="goBack()">
          <div class="btn">
            <i class="las la-door-open"></i>
            <div class="name">Exit World</div>
          </div>
        </UIButton>
      </div>
      <div class="season">
        <div class="name">{{ season.name }}</div>
        <div class="episodes">
          <div
            class="episode"
            *ngFor="let episode of season.episodes; let i = index"
            [ngClass]="{ active: episode.id === currentEpisode.id }"
            [routerLink]="['/series', seriesId, seasonId, i]"
          >
            {{ i + 1 }}. {{ episode.name }}
          </div>
        </div>
      </div>
    </div>
    <main>
      <div class="player-overlay" (mousemove)="showSeekbar()">
        <div class="top" [ngClass]="{ show: showControls }">
          <UIButton
            [isPointed]="true"
            (click)="isSidebarHidden = !isSidebarHidden"
          >
            <div class="btn">
              <i class="las la-bars"></i>
            </div>
          </UIButton>
          <div class="info">
            <div class="name">{{ currentEpisode.name }}</div>
            <div class="actions">
              <div class="action">
                <i class="las la-plus"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="spacer" (click)="isPaused ? play() : pause()"></div>

        <div class="bottom">
          <div class="actions" [ngClass]="{ show: isHover || showControls }">
            <input
              type="range"
              min="0"
              [max]="videoDuration"
              (input)="seekTo($event.target.value)"
            />
          </div>
          <div class="comments" [ngClass]="{ show: showControls }">
            Comments
          </div>
        </div>
      </div>
      <div id="player"></div>
    </main>
  </ng-container>
</div>
