@import "../../../theme";
@import "../../../constants";

.container {
  width: 100vw;
  height: 100vh;
  padding: 0;
  .sidebar {
    .header {
      padding: 1rem $lr-padding;
      .back-btn {
        font-size: 1.3rem;
      }
    }
  }
}
