<div class="modal" [ngClass]="{ open: searchService.isActive | async }">
  <div class="content">
    <div class="search">
      <div class="bar">
        <i class="las la-search"></i>
        <input
          type="text"
          (input)="searchQuery($event.target.value)"
          placeholder="Search your anime"
          #search
        />
      </div>
      <div class="loading" *ngIf="isSearching">
        <img src="../../../assets/loading.gif" alt="" />
      </div>
    </div>
    <div class="results">
      <div class="result" *ngFor="let result of results">
        <div class="thumbnail">
          <img [src]="result.thumbnail" alt="" />
        </div>
        <div class="info">
          <div class="topics">
            <div class="topic" *ngFor="let topic of result.topics">
              <UIChip>{{ topic }}</UIChip>
            </div>
          </div>
          <div class="name">{{ result.name }}</div>
          <div class="release-date">
            <i class="las la-calendar-day"></i>
            <div class="date">
              {{ result.releaseDate.toDate() | date: "MMMM d, y" }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
