@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin hidden-scroll {
  overflow-x: auto;
  white-space: nowrap;

  /* width */
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #b99e9e;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #ffffff00;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #ffffff00;
  }
}
