@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
@import "./theme";

* {
  box-sizing: border-box;
  font-family: "Poppins", "Verdana", "Geneva", "Tahoma", sans-serif;
  color: $color;
}

html,
body {
  background: $background;
}
