@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
@import "./theme";
@import "./constants";

* {
  box-sizing: border-box;
  font-family: "Poppins", "Verdana", "Geneva", "Tahoma", sans-serif;
  color: $color;
  transition: 0.1s all ease-in;
  outline: none;
}

html,
body {
  background: $background;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  transition: 0;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

::selection {
  background: $primary;
}

::-webkit-scrollbar {
  width: $scrollbar-width;
}

::-webkit-scrollbar-track {
  background: #ffffff00;
}

::-webkit-scrollbar-thumb {
  background: #555;
}

::-webkit-scrollbar-thumb:hover {
  background: #707070;
}

.container {
  overflow: hidden;
  overflow-y: auto;
  max-height: calc(100vh - 7rem);
}

.heading {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 1rem;
}
