@import "../../../../theme";

button {
  background: #ffffff00;
  border: 3px solid $hover-background;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;

  &:hover {
    background: $hover-background;
  }

  &.primary {
    background: $primary;
    border-color: $primary;
  }
}
