<div class="modal" [ngClass]="{ open: dialogService.open | async }">
  <ng-container *ngIf="dialog">
    <div class="content">
      <div class="loading" *ngIf="dialog.type === 'loading'">
        <img src="../../../assets/loading.gif" alt="" />
      </div>
      <div class="confirm" *ngIf="dialog.type == 'question'">
        <div class="question">{{ dialog.question }}</div>
        <div class="actions">
          <UIButton
            class="yes"
            [isPointed]="true"
            [isPrimary]="true"
            (click)="answerConfirm(true)"
          >
            Yes
          </UIButton>
          <UIButton [isPointed]="true" (click)="answerConfirm(false)">
            No
          </UIButton>
        </div>
      </div>
    </div>
  </ng-container>
</div>
